Source: libfguid
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libfguid/

Package: libfguid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfguid-dbg
Description: Library to support the GUID/UUID format
 libfguid is a library to support the GUID/UUID format.

Package: libfguid-dbg
Architecture: any
Section: debug
Depends: libfguid (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfguid
 Debugging symbols for libfguid.

Package: libfguid-dev
Section: libdevel
Architecture: any
Depends: libfguid (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfguid
 Header files and libraries for developing applications for libfguid.

